.container {
	position: relative;
	cursor: pointer;
}

.img {
	background: grey;
}

.circle {
	position: absolute;
	top: 8px;
	left: 110px;
	color: #d0d0d0;
	transition: color 0.3s ease;
}

.active {
	color: gold;
}

.modal {
	position: absolute;
	display: flex;
	z-index: 100;
	bottom: -30px;
	right: -55px;
	max-width: 150px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.69);
	padding: 4px 8px;
	align-items: center;

	ont-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	color: #fff;
}
