.item {
	width: 436px;
}

.link {
	display: flex;
	padding: 16px 0;
	justify-content: center;
	align-items: center;
	width: 100%;

	color: #1c1c1c;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
}

.active {
	border-radius: 16px;
	background: #edf9ff;
	color: #117dc1;
}
